<footer>
    <div class="f-info">
        <div class="f-info-socials"></div>
        <div>WanderLust Pvt Ltd</div>
    </div>
    <div class="f-info-links">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
    </div>
</footer>