<div class="navbar">
    <div class="nav d-f">
        <div class="logo"><a href="/"><i class="fa-regular fa-compass"></i></a></div>

        <div class="find d-f">
            <div class="anywhere"><a href="/">Home&emsp;|</a></div>
            <div class="anyweek"><a href="/listings">&emsp;All Listings&emsp;|</a></div>
            <div class="addguests d-f"><a href="/listings-new">&emsp;Add New Listing</a></div>
        </div>

        <div class="login d-f">
            <div class="logs-signs d-f">
                <div class="ham"><a href="#"><span class="material-symbols-outlined">
                    menu
                    </span></a></div>
                <div class="img-per"><a href="#"><span class="material-symbols-outlined">
                    person
                    </span></a></div>
            </div>
        </div>
        
    </div>
</div>