<div class="navbar">
    <div class="nav d-f">
        <div class="logo"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Airbnb_Logo_B%C3%A9lo.svg/2560px-Airbnb_Logo_B%C3%A9lo.svg.png" alt="airbnb"></div>

        <div class="find d-f">
            <div class="anywhere"><a href="/">Home&emsp;|</a></div>
            <div class="anyweek"><a href="/listings">&emsp;All Listings&emsp;|</a></div>
            <div class="addguests d-f"><a href="/listings-new">&emsp;Add New Listing</a></div>
        </div>

        <div class="login d-f">
            <div class="abyh"><a href="#">Airbnb your home</a></div>
            <div class="globe"><span class="material-symbols-outlined">
                language
                </span>
            </div>
            <div class="logs-signs d-f">
                <div class="ham"><a href="#"><span class="material-symbols-outlined">
                    menu
                    </span></a></div>
                <div class="img-per"><a href="#"><span class="material-symbols-outlined">
                    person
                    </span></a></div>
            </div>
        </div>
        <div class="hamburger-width"><a href="#"><span class="material-symbols-outlined">
            menu
            </span></a>
        </div>
    </div>
</div>