<% layout("/layouts/boilerplate") %>

<body class="body-home">
    <div class="outer-home-body container">
        <div class="desc-home d-f">
            <h2 class="d-f"><br>WANDERLUST</h2>
        </div>
    </div>
</body>
