<% layout("/layouts/boilerplate") %>

<body>
    <div class="desc-home">
        <h2>Welcome to Wanderlust</h2>
        <p>
            <a href="/listings"> Go To All Listings </a>
        </p>
    </div>
</body>
