<% layout("/layouts/boilerplate") %>
<body>
    <!-- <form action="/listings-new" method="get">
        <button type="submit">Create New Listing</button>
    </form> -->

    <div class="heading"><h2>ALL LISTINGS</h2></div>
    <div class="cont-idx">
        <div class="listing-display-idx d-f">
            <% for(let listing of allListings){%>
                <div class="each-card-idx">
                        <a href="/listings/<%= listing._id %>">
                            <img src="<%= listing.image %>" alt="...">
                            <h3><b> <%= listing.title %> </b></h3>
                            <p>&#8377;<%=listing.price.toLocaleString("en-IN") %> / night</p>
                        </a>
                </div>
            <%}%> 
        </div>
    </div>

</body>



