body{
    overflow-x:hidden;
    font-family: "Plus Jakarta Sans", sans-serif;;
}

/* NAVBAR */
.d-f{
    display: flex;
    flex-wrap: wrap;
}

.navbar .nav .logo img{
    width: 15rem;
    height: 3rem;
}
.navbar{
    border-bottom: 2px solid black;
    position: fixed;
    background-color: white;
    width: 100%;
    margin-top: -10rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.navbar .nav{
    justify-content: space-between;
    margin: 0 4rem 1rem;
}


.navbar .nav .find a{
    text-decoration: none;
    color: black;
}

.logo , .login{
    width: 20%;
    justify-content: center;
    text-align: center;
}
.find{
    width: 60%;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    width: fit-content;
    padding: 1rem;
    border-radius: 4rem;
}
.login{
    justify-content: space-evenly;
    text-align: center;
    padding-top: 1rem;
    margin-right: 2rem;
}
.logs-signs{
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    height: 2rem;
}


.logs-signs .ham a, .logs-signs .img-per a{
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
}

.abyh a{
    text-decoration: none;
    color: black;
}

.addguests input{
    border: 2px solid black;
    border-radius: 2rem;
}
.hamburger-width{
    margin-right: -300px;
}


.fa-compass{
    font-size: 3rem;
    color: #fe424d;
}


/* FOOTER */

.f-info-links a{
    text-decoration: none;
    color: #222;
}

.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links , .f-info-socials , .f-info-brand{
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-links a{
    margin-right: 1rem;
}
.f-info-socials{
    font-size: 1.5rem;
}

.f-info-socials i{
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    padding-top: 1rem;
}

/* INDEX PAGE */

.heading{
    margin-top: 10rem;
    padding-left: 5rem;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.card img{
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
}
.row{
    padding: 4rem;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    margin-left: 5rem;
    /* margin-right: 5rem; */
}
.row .card{
    margin-right: 4rem;
    margin-bottom: 4rem;
}

.row .card .card-body .card-text{
    text-align: center;  
}

.listing-link{
    text-decoration: none;
    color: black;
}

.card:hover{
    .card-body p{
        font-size: 150%;
    }
}

@media(max-width : 566px){
    .heading{
        margin-top: 15rem;
    }
    .navbar{
        margin-top: -15rem;
    }
}


/* HOME PAGE */

.desc-home{
    margin-top: 10rem;
}


.desc-show{
    margin-top: 10rem;
}


.desc-new{
    margin-top: 10rem;
}

.desc-edit{
    margin-top: 10rem;
}